*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
body{
    background-color: #121214;
    background-image: url(assets/bg.svg);
}

#app{
    width: fit-content;
    margin: 52px auto;
}
header{
    margin-bottom: 63px;
}
.card{
    padding: 32px 23px;
}